<?xml version="1.0" encoding="ISO-8859-1"?>
<root>
	<item id="name">การอัปเดตที่สำคัญ</item>
	<item id="version">1.0.0</item>
	<item id="author">Discuz! X Community Team</item>
	<item id="date">2022-1-30</item>
	<item id="lastmodified">2022-1-30</item>
	<item id="copyright">Discuz! X Community Team</item>
	<item id="tabindex">2</item>
	<item id="tips">เมื่อไซต์ตกคุณควรพิจารณาทำการอัปเดตที่สำคัญเพื่อหลีกเลี่ยงแฮ็กเกอร์จากการผ่านที่รู้จัก UC_MYKEY คีย์แตก UC_KEY สำคัญ.</item>
	<item id="lang">
		<item id="plugin_replacemykey_tips">ก่อนการดำเนินการขอแนะนำให้คุณเลือกการทำงานสูงสุดต่ำหรือปิดแอปพลิเคชันระดับล่างและทำงานได้ดี UCenter และข้อมูลและการสำรองข้อมูลไฟล์ของแต่ละแอปพลิเคชัน</item>
		<item id="plugin_replacemykey_confirm">ยืนยัน</item>
		<item id="plugin_replacemykey_confirm_tips">ฉันเข้าใจความเสี่ยงข้างต้น เขาทำงานได้ดีแล้วในการสำรองข้อมูลเว็บไซต์</item>
	</item>
</root>