<?xml version="1.0" encoding="ISO-8859-1"?>
<root>
	<item id="name">การอัปเดตคีย์</item>
	<item id="version">1.0.0</item>
	<item id="author">Discuz! X Community Team</item>
	<item id="date">2022-1-30</item>
	<item id="lastmodified">2022-1-30</item>
	<item id="copyright">Discuz! X Community Team</item>
	<item id="tabindex">2</item>
	<item id="tips">คุณควรพิจารณาการสร้างคีย์ใหม่เมื่อเว็บไซต์ของคุณถูกบุกรุก เพื่อหลีกเลี่ยงไม่ให้แฮกเกอร์ถอดรหัสคีย์ UC_KEY ผ่านคีย์ UC_MYKEY ที่เขาล้วงไปได้</item>
	<item id="lang">
		<item id="plugin_replacemykey_tips">ก่อนดำเนินการ ขอแนะนำให้คุณเลือกดำเนินการในช่วงที่มีการใช้งานน้อยหรือปิดแอปพลิเคชันระดับล่าง และสำรองข้อมูลกับไฟล์ของ UCenter รวมไปถึงไฟล์ของแต่ละแอปพลิเคชันเสียก่อน</item>
		<item id="plugin_replacemykey_confirm">ยืนยัน</item>
		<item id="plugin_replacemykey_confirm_tips">ฉันตระหนักถึงความเสี่ยงข้างต้น และได้ดำเนินการสำรองข้อมูลเว็บไซต์ของฉันไว้แล้ว</item>
	</item>
</root>